<nav>
    <div class="nav-left">
        <ul>
            <li (click)="goToSection('about')">About</li>
            <li (click)="goToSection('resume')">Resume</li>
            <li (click)="goToSection('skill')">skills</li>
            <li (click)="goToSection('portfolio')">Portfolio</li>
            <li (click)="goToSection('services')">services</li>
        </ul>
    </div>
    <div class="nav-right">
        <button class="btn-contact" (click)="goToSection('contact')">contact</button>
    </div>
</nav>
