<div class="port-section">
    <div class="data-section">
        <div class="info-section">
            <div class="project-category">
                WEB APPLICATION
            </div>
            <div class="title">
                Quiz App
            </div>
            <p class="text-section">
                Welcome to an interactive knowledge challenge, customize your experience by selecting the number of questions, categories, and difficulty levels. 
                Test your general knowledge and explore a variety of topics while having fun and 
                learning fascinating facts. Perfect for trivia enthusiasts and curious minds alike!
            </p>
            <div class="btn-section">
                <button class="try-btn" onclick="window.location.href='https://jdrr-quiz-app.vercel.app/login'" >Go to Try</button>
                <button onclick="window.location.href='https://github.com/juandavid3196/quiz-app'" class="github-btn try-btn">Code 
                        <img src="../../../assets/img/gitgub-icon.svg" alt="">
                </button>
            </div>
        </div>
        <div class="image-container">
            <div class="img-one">
                <img src="../../../assets/gallery/quiz-img-2.svg" alt="">
            </div>
            <div class="img-two">
                <img src="../../../assets/gallery/quiz-img-1.svg" alt="">
            </div>
        </div>
    </div> 
    <div class="tech-section">
            <div class="technical-info">
                <div class="feature-box">
                    <img src="../../../assets/projects/image 13.svg" alt="">
                    <span class="ftr-text">Authentication system</span>
                    <p class="ftr-description">
                        Users can register and log in to personalize their quiz experience and track their progress.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/custom-icon.svg" alt="">
                    <span class="ftr-text">Quiz Customization Menu</span>
                    <p class="ftr-description">
                        Having the option to customize their quiz by selecting the number of questions, categories, difficulty levels, and setting a time limit for each quiz.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/score-icon.svg" alt="">
                    <span class="ftr-text">Scoring System</span>
                    <p class="ftr-description">
                        Points are awarded based on the accuracy and speed of answers, providing instant feedback at the end of the quiz                   
                     </p>
                    </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/ranking-icon.svg" alt="">
                    <span class="ftr-text">Ranking Page</span>
                    <p class="ftr-description">
                        A leaderboard where users can view their ranking and compare their scores with other players globally, fostering competition and motivation to improve.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/fire-orange-icon.svg" alt="">
                    <span class="ftr-text">Firebase connected</span>
                    <p class="ftr-description">
                        The app is integrated with Firestore for real-time data management, while Firebase Authentication securely handles user login and registration. User profiles, quiz settings,
                         and scores are stored and updated instantly, providing a seamless and personalized experience.
                    </p>
                </div>
            </div>    
            <div class="technology-info">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/angular-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/type-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/sass-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/fire-blue-icon.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
