<div class="port-section">
    <div class="data-section">
        <div class="info-section">
            <div class="project-category">
                WEB APPLICATION
            </div>
            <div class="title">
                Events Manager for Pablo Tobon uribe Teather
            </div>
            <p class="text-section">
                The platform manages all activities for organizing theater events, including event creation and sub-event management. 
                It integrates with the Calendar API for scheduling, manages user roles and permissions, stores legal documents, and presents 
                performance metrics through graphical reports.
            </p>
            <div class="btn-section">
                <button onclick="window.location.href='https://github.com/juandavid3196/client-cultural-events-management-system'" class="github-btn try-btn">Code 
                        <img src="../../../assets/img/gitgub-icon.svg" alt="">
                </button>
            </div>
        </div>
        <div class="image-container">
            <div class="img-one">
                <img src="../../../assets/gallery/reports.jpeg" alt="">
            </div>
            <div class="img-two">
                <img src="../../../assets/gallery/events-calendar.jpeg" alt="">
            </div>
        </div>
        
    </div> 
    <div class="tech-section">
            <div class="technical-info">
                <div class="feature-box">
                    <img src="../../../assets/projects/image 13.svg" alt="">
                    <span class="ftr-text">Authentication and authorization system</span>
                    <p class="ftr-description">
                        Ensures secure user login and access control, allowing only authorized users to access specific platform features based on their roles.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 182.svg" alt="">
                    <span class="ftr-text">Events manager</span>
                    <p class="ftr-description">
                        A core module that allows the creation, editing, and organization of theater events, ensuring all activities are efficiently managed, from scheduling to execution.                    
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 177.svg" alt="">
                    <span class="ftr-text">Calendar to schedule new events</span>
                    <p class="ftr-description">
                        An interactive calendar that makes it easy to plan and schedule new events, helping to set dates and times visually while preventing conflicts with other scheduled activities.                    
                    </p>
                    </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 176.svg" alt="">
                    <span class="ftr-text">Legal Documents manager</span>
                    <p class="ftr-description">
                        A tool for storing and managing legal documents required for event organization, such as contracts with performers and permits, ensuring compliance with all legal regulations.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 179.svg" alt="">
                    <span class="ftr-text">Performance metrics</span>
                    <p class="ftr-description">
                        A system that tracks key metrics to measure the success of events, including attendance, ticket sales, and audience satisfaction, providing critical data for continuous improvement.
                    </p>                
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 180.svg" alt="">
                    <span class="ftr-text">Reports section</span>
                    <p class="ftr-description">
                        A dedicated area for generating detailed reports on event performance, logistics, and management, offering valuable insights for strategic decision-making. 
                    </p>                
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 181.svg" alt="">
                    <span class="ftr-text">Responsive Web Design</span>
                    <p class="ftr-description">
                        Ensuring that both administrators and users can access and manage events from any device.
                    </p>                
                </div>
            </div>    
            <div class="technology-info">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/image 183.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/javascript-blue-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/sass-icon.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
