<div class="port-section">
    <div class="data-section">
        <div class="info-section">
            <div class="project-category">
                WEB APPLICATION
            </div>
            <div class="title">
                Social Media App
            </div>
            <p class="text-section">
                This platform replicates common social media features, allowing users to interact with friends through posts, comments, and reactions. Users can sign up 
                and log in through various methods, create and share posts with images, comment on and react to others' posts, and receive friend requests. The platform 
                also offers profile customization, options to block annoying accounts, and updates on friends' activities.
            </p>
            <div class="btn-section">
                <button onclick="window.location.href='https://github.com/juandavid3196/client-characterization-platform'" class="github-btn try-btn">Code 
                        <img src="../../../assets/img/gitgub-icon.svg" alt="">
                </button>
            </div>
        </div>
        <div class="image-container">
            <div class="img-one">
                <img src="../../../assets/projects/project-4/back-screen.png" alt="">
            </div>
            <div class="img-two">
                <img src="../../../assets/projects/project-4/forward-screen.png" alt="">
            </div>
        </div>
        
    </div> 
    <div class="tech-section">
            <div class="technical-info">
                <div class="feature-box">
                    <img src="../../../assets/projects/image 13.svg" alt="">
                    <span class="ftr-text">Authentication and authorization system by Clerk</span>
                    <p class="ftr-description">
                        Implements Clerk for secure user login and access control, supporting login with Google and GitHub accounts. It provides a user-friendly interface for managing accounts,
                        editing personal information, and accessing the dashboard.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 13.svg" alt="">
                    <span class="ftr-text">Cloudinary managenement</span>
                    <p class="ftr-description">
                        Utilizes Cloudinary to manage and upload images, enabling easy and efficient cloud storage and data handling for all user-uploaded content.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 16.svg" alt="">
                    <span class="ftr-text">Hostinger and CloudPannel</span>
                    <p class="ftr-description">
                        Leverages Hostinger and CloudPanel for seamless database connectivity and secure storage of all platform information, ensuring reliable data 
                        management and easy access.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 14.svg" alt="">
                    <span class="ftr-text">Prisma ORM</span>
                    <p class="ftr-description">
                        Uses Prisma as the ORM to handle all database requests, map database structures, and efficiently manage the system's data operations, ensuring 
                        seamless data interactions and streamlined queries.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 17.svg" alt="">
                    <span class="ftr-text">React hooks</span>
                    <p class="ftr-description">
                        Incorporates the latest React hooks, including useOptimisticHook, useFormStatus, and useActionState, to enhance form handling, improve user experience, and provide real-time feedback on form interactions.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 19.svg" alt="">
                    <span class="ftr-text">Stories</span>
                    <p class="ftr-description">
                        Enables users to upload temporary stories that remain visible for 24 hours, allowing them to share fleeting moments and updates with their audience.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 20.svg" alt="">
                    <span class="ftr-text">Post Interaction</span>
                    <p class="ftr-description">
                        Allows users to engage with posts through likes, comments, and shares, fostering community interaction and engagement on the platform.</p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/project-4/image 21.svg" alt="">
                    <span class="ftr-text">Personal profile page</span>
                    <p class="ftr-description">
                        A customizable page where users can manage their personal information, preferences, and interests. It allows users to update details, 
                        control privacy settings, and display key attributes.
                    </p>
                </div>
            </div>
            <div class="technology-info">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/project-4/image 22.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/type-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/project-4/image 18.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
