<div class="port-section">
    <div class="data-section">
        <div class="info-section">
            <div class="project-category">
                WEB APPLICATION
            </div>
            <div class="title">
                Characterization platform for disabled people
            </div>
            <p class="text-section">
                    This system profiles individuals with disabilities at the University of Antioquia. It features customizable surveys with various 
                    question types and accessible interfaces for users with visual or hearing impairments. The goal is to collect data to improve decision-making 
                    on educational programs, infrastructure, and the academic experience.
            </p>
            <div class="btn-section">
                <button class="try-btn">Go to Try</button>
                <button onclick="window.location.href='https://github.com/juandavid3196/client-characterization-platform'" class="github-btn try-btn">Code 
                        <img src="../../../assets/img/gitgub-icon.svg" alt="">
                </button>
            </div>
        </div>
        <div class="image-container">
            <div class="img-one">
                <img src="../../../assets/gallery/admin-panel.png" alt="">
            </div>
            <div class="img-two">
                <img src="../../../assets/gallery/scale-question.png" alt="">
            </div>
        </div>
        
    </div> 
    <div class="tech-section">
            <div class="technical-info">
                <div class="feature-box">
                    <img src="../../../assets/projects/image 13.svg" alt="">
                    <span class="ftr-text">Authentication and authorization system</span>
                    <p class="ftr-description">
                        Ensures secure user login and access control, allowing only authorized users to access specific platform features based on their roles.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 14.svg" alt="">
                    <span class="ftr-text">Survey manager for creators</span>
                    <p class="ftr-description">
                        A tool that allows creators to design, organize, and manage custom surveys to collect data from users regarding their specific needs or characteristics.   
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 15.svg" alt="">
                    <span class="ftr-text">Question bank</span>
                    <p class="ftr-description">
                        A centralized repository of pre-defined questions that can be used in multiple surveys, streamlining the creation process for surveys and evaluations.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 16.svg" alt="">
                    <span class="ftr-text">Settings section</span>
                    <p class="ftr-description">
                        Provides users with options to customize their platform experience, including personal preferences and account settings.
                    </p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 17.svg" alt="">
                    <span class="ftr-text">Preview mode</span>
                    <p class="ftr-description">Allows users to see a real-time preview of their surveys or forms before publishing them, ensuring everything appears as intended</p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 18.svg" alt="">
                    <span class="ftr-text">Evaluation system</span>
                    <p class="ftr-description">A system that automatically processes and assesses student responses to surveys, providing insights, feedback, or scores based on predefined criteria to help measure understanding or gather specific data.</p>
                </div>
                <div class="feature-box">
                    <img src="../../../assets/projects/image 19.svg" alt="">
                    <span class="ftr-text">Administration panel</span>
                    <p class="ftr-description">A comprehensive dashboard for platform administrators to oversee users, manage content, and configure platform-wide settings and permissions.</p>
                </div>
            </div>
            <div class="technology-info">
                <ul>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/angular-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/type-icon.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-box">
                            <img src="../../../assets/projects/sass-icon.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
